.section-bg {
	background-image: url('../img/image.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 900px;
	width: 100%;
	position: relative;

}
.header-flex{
	display: flex;
	justify-content: space-between;
	padding: 60px;
}
.navigation-ul{
	display: flex;
}
.nav-a{
	color: white;
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
}
.navigation-li{
	margin-right: 27px;
}
.p-logo{
	color: #fff
}
.bg-title{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 100px;
}
.bg-title h1{
	font-size: 50px;
	color: #fff
}
.bg-text{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 40px;
	
	
}
.bg-text p {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: #fff;
	width: 630px;
	text-align: center;
	line-height: 27px;

}
.button-bg{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 54px;
}
.btn{
	background-color: blue;
	color: #fff;
	font-size: 14px;
	border-radius: 40px;
	padding: 20px;
	text-transform: uppercase;
}
.section-flex{
	display: flex;
	justify-content: space-between;

}
.left-box{
	width: 50%;
	padding: 80px;
}
.right-box{
	width: 50%;
}
.right-box img{
	width: 100%;

}
.block-p1{
	font-size: 50px;
	font-family: 'Lato', sans-serif;


}
.block-p2{
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	margin-top: 44px;
	margin-bottom: 57px;

}
.title-h {
	text-align: center;
}
.grey-bg-section {
	background-color: #FAFAFA;
	padding-top:80px;
}


.box-section1{
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-top: 80px;
	flex-wrap: wrap;
}
.small-box{
	background-color: #fff;
	width:369px;
	height: 372px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; 
}
.icon{
	background-color: blue;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}
.small-box p{
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
.ragac{
	width: 100%;
}
.small-box-size{
	margin-top: 15px;
}


.imgg{
	background-image: url('../img/pt.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 300px;
}

.fa-twitter{
	font-size: 25px;
	color: blue;
	margin-left: 20px;

}
.fa-instagram{
	color:red;
	font-size: 25px;
	margin-left: 20px;
}
.fa-google-plus-g{
	color: yellow;
	font-size: 25px;
}

.icone:hover{
	color: aqua;

}
.icone1:hover{
	color: blue;
}
.icone2:hover{
	color: pink;
}
.icones{
position: absolute;
left: 0;
bottom: 0;

}
.right-wraper{
	display: flex; 
}
.burger-icone{
	display: none;

}

.fa-bars{
	color: yellow;
}










